<div class="trip-container leaflet-bar" id="new-trip">
  <button class="btn action pull-right" {{action "closeTripWindow"}}>X</button>
  <h3>Trip Details</h3>

  <ol>
    {{#each trip.destinations as |destination|}}
      <li>
        <button style="font-size:50%;color:grey" {{action "reorderDestination" destination "later"}}>later</button>
        <button style="font-size:50%;color:grey" {{action "reorderDestination" destination "earlier"}}>earlier</button>
        {{destination.pin.nickname}}<br>
        {{destination.pin.address}}
      </li>
    {{/each}}
  </ol>

</div>
