<h2 id="title">Welcome to Globo</h2>

<div id="user-legend-wrapper">
  <div id="user-legend" class="leaflet-bar">
  {{#if session.isAuthenticated}}
    {{session.currentUser.email}}<br>
    <button class='btn' {{action "logout"}}> Log Out</button>
  {{else}}
    {{link-to 'Log In' 'login'}}
  {{/if}}
  </div>
</div>

{{outlet}}
