{{#each model.pins as |pin|}}

  <p>{{pin.nickname}}</p>

{{/each}}

{{#g-map lat=37.7833 lng=-122.4167 zoom=2 as |context|}}
  {{#each model.pins as |pin|}}
    {{g-map-marker context lat=pin.place.lat lng=pin.place.long}}
  {{/each}}
{{/g-map}}
<!-- {{#leaflet-map lat=lat lng=lng zoom=zoom}}

  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{#each model.pins as |pin|}}
        turn cords into array? not really working
    {{#marker-layer location=[40,70]}}
      <h3>Hotel</h3>
    {{/marker-layer}}
  {{/each}}

{{/leaflet-map}} -->

{{outlet}}

{{add-pin pin=model.newPin}}
{{add-trip pin=model.newPin trip=model.newTrip}}
