<!-- {{#each model.pins as |pin|}}

  <p>{{pin.nickname}}</p>

{{/each}}

{{#g-map lat=37.7833 lng=-122.4167 zoom=2 as |context|}}
  {{#each model.pins as |pin|}}
    {{g-map-marker context lat=pin.place.lat lng=pin.place.long}}
  {{/each}}
{{/g-map}} -->

{{#leaflet-map lat=lat lng=lng zoom=zoom maxBoundsViscosity=0.0 maxBounds=bounds doubleClickZoom=false minZoom=3 onDblclick=(action "addPoint")}}

  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" noWrap=true }}
  {{#each model.pins as |pin|}}
    {{#marker-layer lat=pin.lat lng=pin.long}}
      <!-- <h4 id="pin-title">{{pin.nickname}}</h4> -->
      {{add-pin pin=pin}}
      <!-- <div>
        <h6 class="pin-action" id="pin-edit" {{action 'savePin' pin}}>Save Pin</h6>
        <h6 class="pin-action" id="pin-delete" {{action 'deletePin' pin}}>Delete Pin</h6>
      </div> -->

    {{/marker-layer}}
  {{/each}}
{{/leaflet-map}}

<div id="add-pin-wrapper">
  <div id="add-pin" class="leaflet-bar {{if addState "active"}}">
    <a href="#" {{action 'addPinMode'}}>Add a pin</a>
  </div>
</div>

<div id="search-location-wrapper">
  <div id="search-location" class="leaflet-bar {{if addState "active"}}">
    <form id="search-location-form" {{action "findLocation" on="submit"}}>
      {{input id="search-location-input" value=searchQuery placeholder="Search for a place..."}}
    </form>
  </div>
</div>

{{outlet}}

{{!newPin}}

{{!add-pin pin=newPin}}
{{!add-trip trip=model.newTrip addDestination=(action "addDestination")}}
