
{{#leaflet-map lat=lat lng=lng zoom=zoom maxBoundsViscosity=0.0 maxBounds=bounds doubleClickZoom=false minZoom=3 onDblclick=(action "addPoint")}}

  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" noWrap=true }}
  {{#each model.pins as |pin|}}

    {{#if pastPins}}
      {{#unless pin.visited}}
        {{marker-wrapper pin=pin pinSmack=(action 'pinSmack' pin) editPin='editPin' savePin='savePin' deletePin='deletePin'}}
      {{/unless}}
    {{/if}}

    {{#if futurePins}}
      {{#if pin.visited}}
        {{marker-wrapper pin=pin pinSmack=(action 'pinSmack' pin) editPin='editPin' savePin='savePin' deletePin='deletePin'}}
      {{/if}}
    {{/if}}


  {{/each}}

  <!-- map trips -->
  {{#each model.trips as |trip|}}

    {{#if pastPins}}
      {{#unless trip.traveled}}
        {{trip-line-wrapper pinPoints=trip.pinPoints trip=trip tripSmack=(action 'tripSmack' trip)}}
      {{/unless}}
    {{/if}}

    {{#if futurePins}}
      {{#if trip.traveled}}
        {{trip-line-wrapper pinPoints=trip.pinPoints trip=trip tripSmack=(action 'tripSmack' trip)}}
      {{/if}}
    {{/if}}

  {{/each}}

{{/leaflet-map}}

{{#if tripListener}}
  {{add-trip trip=currentTrip closeTripWindow='closeTripWindow' reorderDestination='reorderDestination'}}
{{/if}}

<div class="btn-group-vertical" role="group" id="nav-btn-group">

  <div id="add-pin-wrapper">
    <div id="add-pin" class="nav-button leaflet-bar {{if addState "active"}}">
      <a href="#" {{action 'addPinMode'}}>
        {{#if addState}}
        done
        {{else}}
        Add pin
        {{/if}}
      </a>
    </div>
  </div>

  <div id="add-trip-wrapper">
    <div id="add-trip" class="nav-button leaflet-bar {{if addTripState "active"}}">
      <a href="#" {{action 'addTripMode'}}>
        {{#if addTripState}}
        done
        {{else}}
        add trip
        {{/if}}
      </a>
    </div>
  </div>

  <div id="future-wrapper" class="filter-button-wrapper">
    <div id="filter-button-future" class="nav-button leaflet-bar {{if futurePins "active"}}">
      <a href="#" {{action 'filterFuture'}}>Future</a>
    </div>
  </div>

  <div id="past-wrapper" class="filter-button-wrapper">
    <div id="filter-button-past" class="nav-button leaflet-bar {{if pastPins "active"}}">
      <a href="#" {{action 'filterPast'}}>Past</a>
    </div>
  </div>

</div>

<div id="search-location-wrapper">
  <div id="search-location" class="leaflet-bar {{if addState "active"}}">
    <form id="search-location-form" {{action "findLocation" on="submit"}}>
      {{input id="search-location-input" value=searchQuery placeholder="Search for a place..."}}
    </form>
  </div>
</div>

<div id="state-indicator-wrapper">
  <div id="state-indicator">
       {{#if addTripState}}
       Select pins to create a trip
       {{/if}}
       {{#if addState}}
       Double click to add a pin to the map
       {{/if}}
  </div>
</div>





{{outlet}}
